<form class="mt-4 container" method="POST" action="/courses/handle-trash-form-action">
    <div>
        <h3>Khóa học đã xóa</h3>
        <a href="/me/stored/courses">Danh sách khóa học</a>
    </div>

    <div class="mt-4 row d-flex align-items-center wrapperSelect">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
        </div>

        <select class="form-control form-control-sm select-action col-md-2" name="action" required>
            <option value="">Chọn hành động</option>
            <option value="restore">Khôi phục</option>
            <option value="delete">Xóa</option>
        </select>

        <button type="submit" class="btn btn-primary btn-sm disabled submit-btn">Thực hiện</button>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">STT</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col" style="width: 100px;">Trình độ</th>
                <th scope="col" colspan="2">Thời gian xóa</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{ sum @index 1 }}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td style="width: 300px;">
                    <a class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course"
                        data-whatever="{{this._id}}">Xóa vĩnh viễn</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center"> Thùng rác rỗng.</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Modal --}}
<div class="modal fade" id="delete-course" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa khóa học này ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnDeleteCourse">Xóa</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- form to delete and restore item --}}
<form method="POST" id="form-delete-course"></form>
<form method="POST" id="form-restore-course"></form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let id;
        const formDelete = document.getElementById('form-delete-course');
        const btnDeleteCourse = document.getElementById('btnDeleteCourse');

        const formRestore = document.getElementById('form-restore-course');
        const restoreButton = $('.btn-restore');
        const checkAllButton = $('#checkbox-all');
        const courseItemCheckBox = $('input[name="courseIds[]"]');
        const buttonSubmit = $('.submit-btn');
        $('#delete-course').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            id = button.data('whatever');

        })
        btnDeleteCourse.onclick = function () {
            console.log('id....', id, btnDeleteCourse);
            formDelete.action = '/courses/' + id + '/force?_method=DELETE';
            formDelete.submit();
        }

        restoreButton.click(function (e) {
            e.preventDefault();
            let courseId = $(this).data('id');
            formRestore.action = '/courses/' + courseId + '/restore?_method=PATCH';
            formRestore.submit();
        });

        // prevent submit checked all
        buttonSubmit.click(function (e) {
            if ($(this).hasClass('disabled')) {
                e.preventDefault();
            }
        });

        // checked all item
        checkAllButton.change(function () {
            const isCheckedAll = $(this).prop('checked');
            courseItemCheckBox.prop('checked', isCheckedAll);
            renderSubmitButton();
        });

        // checked single item
        courseItemCheckBox.change(function () {
            const isCheckAllOrNot = courseItemCheckBox.length === $('input[name="courseIds[]"]:checked').length;
            checkAllButton.prop('checked', isCheckAllOrNot);
            renderSubmitButton()
        });

        // render button do action
        function renderSubmitButton() {
            const hasItemChecked = $('input[name="courseIds[]"]:checked').length;
            if (hasItemChecked > 0) {
                buttonSubmit.removeClass('disabled');
            } else {
                buttonSubmit.addClass('disabled');
            }
        }

    })

</script>